
  <section class="about section" id="about">
    <h1 class="section-title">О компании</h1>

    <div class="about_container bd-grid">
      <div class="about_img">
        <!--                    <img src="assets/img/about.jpg" alt="">-->
        <img src="assets/img/prof.png" alt="">
      </div>


      <div>

        <p class="about_text">
          Компания DigitalForge — бизнес- и технологический партнер лидеров российского бизнеса. Компания решает сложные задачи в сфере стратегического развития и повышения операционной эффективности, оказывая услуги в области оптимизации бизнес-процессов, создания систем управления, управления данными, анализа и моделирования, разработки, тестирования и сопровождения программного обеспечения, создания вычислительных центров и систем хранения и аутсорсинга обеспечивающих бизнес-процессов.
        </p>

        <p class="about_text">
          Синергия современных технологий, корпоративной культуры, амбиций, опыта и интеллекта сотрудников компании способствует успешности заказчиков, развивает экономику страны, повышает качество жизни и создает комфортный и безопасный мир. Мы способствуем развитию бизнеса наших клиентов, повышая эффективность и качество управления предприятиями и организациями.
        </p>

      </div>
    </div>

  </section>


  <section class="about section" id="">
    <h1 class="section-title">Стратегия компании</h1>

    <div class="about_container bd-grid">
      <div class="about_img">
        <!--                    <img src="assets/img/about.jpg" alt="">-->
        <img src="assets/img/prof.png" alt="">
      </div>


      <div>

        <div class="text">

          Обеспечивать российские компании высококачественными решениями для разработки и модернизации программного обеспечения, помогая им адаптироваться к современным требованиям рынка и обеспечивать устойчивое развитие в условиях цифровой трансформации.



          Стать лидером на рынке кастомизированных ИТ-решений и модернизации ПО в России, предоставляя передовые технологии, высокий уровень сервиса и индивидуальный подход к каждому клиенту.
          <p>В соответствии с Миссией DigitalForge определены четыре стратегические цели.</p>
        </div>

      </div>
    </div>



    <ol>
      <li>Захватить 15-20% рынка заказной разработки ПО в сегменте среднего и крупного бизнеса к 2030 году.</li>
      <li>Расширить спектр услуг: внедрение облачных решений, интеграция ИИ, миграция на микросервисы.</li>
      <li>Оптимизировать процессы управления проектами для сокращения сроков реализации на 20%.</li>
      <li>Вложить 15% годового дохода в разработку и обучение сотрудников передовым технологиям.</li>
    </ol>
  </section>




